.wrap{
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: start;
}

.wrap-first, .wrap-second{
  width: 50%;
  padding: 2rem;
  box-sizing: border-box;
}

.wrap-first-friendsList{
  width: 100%;
}

.wrap-first-addFriend{
  margin: 2rem 0 ;
  padding: 1rem;
}

.wrap-first-btn{
  margin: 1rem 0 0 0;
}

button {
  background-color: #ffa94d;
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff922b;
}






