.friend{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 1rem 0;
}

p{
  margin: 0;
}

.friend-img{

}

img{
  border-radius: 50%;
}

.friend-block-info{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.green {
  color: #66a80f;
}

.red {
  color: #e03131;
}

button {
  background-color: #ffa94d;
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff922b;
}


