<div class="container">
  <div>
    <div *ngFor="let obj of accordionArr">
      <div class="block-title">
        <div [ngClass]="{'visible': isAccordionVisible(obj.id), 'title': !isAccordionVisible(obj.id)}">
          <p class="{{ visibleAccordionId && isAccordionVisible(obj.id) ? 'title-firs-w' : 'title-first' }}">
            {{ obj.id < 10 ? '0' + obj.id : obj.id }}
          </p>

          <p class="title-second">
            {{obj.title}}
          </p>
        </div>

        <div class="current" (click)="handleClick(obj.id)">
          {{visibleAccordionId && isAccordionVisible(obj.id) ? '-' : '+'}}
        </div>
      </div>

      <div *ngIf="isAccordionVisible(obj.id)" class="text">
        {{obj.text}}
      </div>
    </div>
  </div>
</div>
